{% extends "base.html" %} {% load static %} {% load tools %} {% block content %}
<div class="heading">
  <h1>Shopping Bag</h1>
  <hr class="heading-underline" />
</div>

{% if bag_items %} {% for item in bag_items %}
<div class="bagContent">
  <div class="bagImg">
    <a href="{% url 'product_detail' item.product.id %}">
      <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" />
    </a>
  </div>
  <div class="bagInfo">
    <ul class="keys">
      <li>Name:</li>
      <li>Size:</li>
      <li>Material:</li>
      <li>Colour:</li>
    </ul>
    <ul class="values">
      <li>{{ item.product.name }}</li>
      <li>{{ item.size }}</li>
      <li>{{ item.material }}</li>
      <li>{{ item.colour }}</li>
    </ul>
  </div>
  <div class="bagItemQuantity">
    <ul class="bagItemPrice">
      <li><b>Price:</b></li>
      <li>€{{ item.product.price | display_price }}</li>
    </ul>

    <form
      class="update-form"
      method="POST"
      action="{% url 'adjust_bag' item.item_id %}"
    >
      {% csrf_token %}
      <div class="form-group">
        <label for="quantity"><b>Quantity:</b></label>
        <input
          type="number"
          name="quantity"
          value="{{ item.quantity }}"
          min="1"
          max="99"
          data-item_id="{{ item.product.id }}"
          id="id_qty_{{ item.product.id }}"
        />

        <input type="hidden" name="product_size" value="{{ item.size }}" />
        <input type="hidden" name="product_colour" value="{{ item.colour }}" />
        <input
          type="hidden"
          name="product_material"
          value="{{ item.material }}"
        />
      </div>
    </form>
    <a class="update-link">Update</a>
    <a href="#removeModal" class="remove-link" data-toggle="modal">Remove</a>

    <!-- Modal, Failsafe for remove from bag option -->

    <div class="modal" tabindex="-1" id="removeModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to remove this item from your bag?</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close modal-cancel btn checkoutBtn">Cancel</a>
            <a
              class="btn checkoutBtn confirm-remove-link"
              id="remove_{{ item.product.id }}"
              data-size="{{ item.size }}"
              data-colour="{{ item.colour }}"
              data-material="{{ item.material }}"
            >
              Yes
            </a>
          </div>
        </div>
      </div>
    </div>

    <ul class="bagItemTotal">
      <li><b>Total:</b></li>
      <li>€{{ item.total | display_price }}</li>
    </ul>
  </div>
</div>
<hr class="bag-divider" />
{% endfor %}
<div class="bagTotal">
  <p><strong>Delivery:</strong> €{{ delivery | display_price }}</p>
  <p><strong>Grand Total:</strong> €{{ grand_total | display_price }}</p>
  <a href="{% url 'products' %}" class="btn keepShoppingBtn">Keep Shopping</a>
  <a href="{% url 'checkout' %}" class="btn checkoutBtn">Checkout</a>
</div>

{% else %}
<div class="bag-empty-text">
  <p>
    Your bag is empty.<br /><a
      href="{% url 'products' %}"
      class="bag-empty-link"
      >Shop Now</a
    >
  </p>
</div>
{% endif %} {% endblock %} {% block postloadjs %} {{ block.super }}
<script type="text/javascript">
  //Update quantity on click
  $(".update-link").click(function (e) {
    var form = $(this).prev(".update-form");
    form.submit();
  });

  //Remove item and reload on click
  $(".confirm-remove-link").click(function (e) {
    var csrfToken = "{{ csrf_token }}";
    var itemId = $(this).attr("id").split("remove_")[1];
    var size = $(this).data("size");
    var colour = $(this).data("colour");
    var material = $(this).data("material");
    var url = `/bag/remove/${itemId}/`;
    var data = {
      csrfmiddlewaretoken: csrfToken,
      size: size,
      colour: colour,
      material: material,
    };

    $.post(url, data).done(function () {
      location.reload();
    });
  });
</script>

{% endblock %}
