{% extends "base.html" %} {% load static %} {% load tools %} {% block content %}
<div class="heading">
  <h1>Update Profile
    <span class="logo-colour">.</span>
  </h1>
  <hr class="heading-underline" />
</div>

<div class="update-profile-container">
    <div class="update-user-delivery-info">
        <a href="{% url 'profile' %}">
            <small>
                <i class="store-link-arrow fas fa-chevron-left"></i>
                Back
            </small>
        </a>
        <br><br>

        <p>Default Delivery Information</p>
        <form action="{% url 'update_profile' %}" method="POST" id="profile-update-form">
            {% csrf_token %}
            {{ user_edit_form | crispy }}
            {{ user_profile_form | crispy }}
            <a href="{% url 'profile' %}" class="btn profile-edit-button">
                Cancel 
                <i class="far fa-window-close"></i>
            </a>
            <button class="btn profile-edit-button" id="submit-button">Save <i class="far fa-save"></i></button>
        </form>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
    let countrySelected = $('#id_default_country').val();
    if (!countrySelected) {
        $('#id_default_country').css('color', '#6c757d');
    }
    $('#id_default_country').change(function(){
        countrySelected = $(this).val();
        if(!countrySelected){
            $(this).css('color', '#6c757d');
        } else {
            $(this).css('color', '#eaeaea');
        }
    });
    </script>
 {% endblock %}