{% extends "base.html" %} {% load static %} {% load tools %} {% block content %}
<div class="heading">
  <h1>Checkout
    <span class="logo-colour">.</span>
  </h1>
  <hr class="heading-underline" />
</div>

<div class="checkout-form">
<small class="fill-form">Please fill out the form to complete your order.</small>
    <form action="{% url 'checkout' %}" method="POST" id="payment-form" class="payment-form">
        {% csrf_token %}
        <fieldset>
            <legend class="fieldset-label small">Details</legend>
            {{ order_form.full_name | as_crispy_field }}
            {{ order_form.email | as_crispy_field }}
        </fieldset>

        <fieldset>
            <legend class="fieldset-label small">Delivery</legend>
            {{ order_form.phone_number | as_crispy_field }}
            {{ order_form.street_address1 | as_crispy_field }}
            {{ order_form.street_address2 | as_crispy_field }}
            {{ order_form.town_or_city| as_crispy_field }}
            {{ order_form.county | as_crispy_field }}
            {{ order_form.postcode | as_crispy_field }}
            {{ order_form.country | as_crispy_field }}
        </fieldset>
        {% if request.user.is_authenticated %}
            <input type="checkbox" id="id-save-info" name="save-info" checked="checked">
            <label for="id-save-info">Save Info</label>
        {% else %}
            <label for="id-save-info">
                <a href="{% url 'account_signup' %}">Create an account</a> or
                <a href="{% url 'account_login' %}">Login</a> to save this information
            </label>
        {% endif %}

        <fieldset>
            <legend class="fieldset-label small">Payment</legend>
            <div id="card-element"></div>
            <div id="card-errors" role="alert"></div>
            <input type="hidden" value="{{ client_secret }}" name="client_secret">
            <input type="hidden" value="{{ intent_id }}" name="intent_id">
        </fieldset>

        <div class="checkout-form-buttons">
            <a href="{% url 'view_bag' %}" class="btn keepShoppingBtn">Adjust Bag <i class="fas fa-shopping-bag"></i></a>
            <button class="btn checkoutBtn" id="submit-button">Complete Order <i class="far fa-credit-card"></i></button>
        </div>

            <p>
                <span class="icon">
                    <i class="fas fa-exclamation-circle"></i>
                </span>
                <span>
                    Your card will be charged <strong>€ {{ grand_total | display_price }}</strong>
                </span>
            </p>
    </form>

    <div class="divider"></div>

<div class="checkout-products-container">

    <div class="headings">
        <span class="order-summary">Order Summary<br></span>
        <span class="order-details">Details<br></span>
        <span>Subtotal<br></span>
    </div>
    <hr class="checkout-hr">

{% for item in bag_items %}
    <div class="checkout-products">
                <a href="{% url 'product_detail' item.product.id %}">
                    <img class="checkout-image" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                </a>
            <div class="item-details">
                <small><strong class="product-name">{{ item.product.name }}</strong></small><br>
                <small>Size: {{ item.size }}</small><br>
                <small>Colour: {{ item.colour }}</small><br>
                <small>Material: {{ item.material }}</small><br>
                <small>Quantity: {{ item.quantity }}</small>
            </div>
            <div class="item-price">
                <small><strong>€ {{ item.total | display_price }}</strong></small>
            </div>
    </div>
    <hr class="checkout-hr">
    {% endfor %}
</div>
</div>

<!-- Loader -->

<div id="loading-overlay">
    <p class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-spinner fa-pulse"></i>
        </span>
    </p>
</div>
<!-- End of loader -->

 {% endblock %}

 {% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key | json_script:"id_stripe_public_key" }}
    {{ client_secret | json_script:"id_stripe_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
 {% endblock %}
