{% extends "base.html" %} {% load static %} {% load tools %} {% block content %}
<div class="heading">
  <h1>Thank You!
    <span class="logo-colour">.</span>
  </h1>
  <hr class="heading-underline" />
</div>

<div class="checkout-success-container">
<span>Your order has been recieved.<br> A confirmation email will be sent to: <strong>{{ order.email }}</strong></span>

<div class="success-order-details">
<h5>Order Details:</h5>
    {% for item in order.lineitems.all %}
        <span>Product: {{ item.product.name }}</span>
        <span>Size: {{ item.product_size }}</span>
        <span>Material: {{ item.product_material }}</span>
        <span>Colour: {{ item.product_colour }}</span>
        <span>Quantity: {{ item.quantity }}</span>
        <span>Total: €{{ item.lineitem_total| display_price }}</span>
    {% endfor %}
</div>
</div>

 {% endblock %}
