{% extends "base.html" %} {% load static %} {% load tools %} {% block content %}
<div class="heading">
  <h1>Thank You!
    <span class="logo-colour">.</span>
  </h1>
  <hr class="heading-underline" />
</div>

<div class="checkout-success-container">
    <span>Your order has been recieved.<br> A confirmation email will be sent to: <strong>{{ order.email }}</strong></span>

    <div class="success-order-details">
        <h5>Order Details:</h5>
            {% for item in order.lineitems.all %}
                <span><strong>Product:</strong> {{ item.product.name }}</span>
                <span><strong>Size:</strong> {{ item.product_size }}</span>
                <span><strong>Material:</strong> {{ item.product_material }}</span>
                <span><strong>Colour:</strong> {{ item.product_colour }}</span>
                <span><strong>Quantity:</strong> {{ item.quantity }}</span>
                <hr class="checkout-hr"> 
            {% endfor %}
            <span><strong>Total:</strong> €{{ order.grand_total| display_price }}</span>
            
    </div>
    {% if not from_profile %}
        <a href="{% url 'products' %}" class="btn checkoutBtn">Store <i class="fas fa-store"></i></a>
    {% else %}
        <a href="{% url 'profile' %}" class="btn checkoutBtn">Return to profile <i class="far fa-user"></i></a>
    {% endif %}
</div>
 {% endblock %}
