{% extends "base.html" %} {% load static %} {% load tools %} {% block content %}
<div class="heading">
  <h1>Orders
    <span class="logo-colour">.</span>
  </h1>
  <hr class="heading-underline" />
</div>

<div class="order-admin-container">
    {% for order in orders %}
        {% if not order.dispatched %}
            <a href="{% url 'order_detail' order.id %}" class="">
                <div class="order-detail-values">
                    <p class="order-number">{{ order.order_number }}</p>
                    <p class="order-grand-total">€{{ order.grand_total | display_price}}</p>
                    <p class="order-date">{{ order.date }}</p>
                </div>
            </a>
        {% else %}
            <div class="dispatched">
                <a href="{% url 'order_detail' order.id %}" class="">
                    <div class="order-detail-values">
                        <p class="order-number">{{ order.order_number }}</p>
                        <p class="order-grand-total">€{{ order.grand_total | display_price}}</p>
                        <p class="order-date">{{ order.date }}</p>
                        <p>Dispatched</p>
                    </div>
                </a>
            </div>
        {% endif %}
        <hr class="checkout-hr">
    {% endfor %}
</div>
{% endblock %}
