{% extends "base.html" %} {% load static %} {% load tools %} {% block content %}
<div class="heading">
  <h1>Order detail
    <span class="logo-colour">.</span>
  </h1>
  <hr class="heading-underline" />
</div>

<a href="{% url 'order_admin' %}" class="inbox-link"><i class="store-link-arrow fas fa-angle-left"></i>Orders</a>
<div class="order-admin-container">
    <p>{{ order.order_number }}</p>
    <h3>Order Details</h3>
    <hr class="checkout-hr">
    <form action="" method="POST" id="" class="">
        {% csrf_token %}
        {{ line_items | crispy }}
        <hr class="checkout-hr">
        <h3>Order Delivery Details</h3>
        <hr class="checkout-hr">
        {{ order_delivery.full_name | as_crispy_field }}
        {{ order_delivery.phone_number | as_crispy_field }}
        {{ order_delivery.street_address1 | as_crispy_field }}
        {{ order_delivery.street_address2 | as_crispy_field }}
        {{ order_delivery.town_or_city | as_crispy_field }}
        {{ order_delivery.county | as_crispy_field }}
        {{ order_delivery.postcode | as_crispy_field }}
        {{ order_delivery.country | as_crispy_field }}
        {{ order_delivery.email | as_crispy_field}}
        {{ order_delivery.phone_number | as_crispy_field }}
        {{ order_delivery.dispatched | as_crispy_field }}
        <a><input type="submit" value="Save Products"></a>
    </form>
</div>
 {% endblock %}
