{% extends "base.html" %} {% load static %} {% load tools %} {% block content %}
<div class="heading">
	<h1>
		Message Contents
		<span class="logo-colour">.</span>
	</h1>
	<hr class="heading-underline" />
</div>
<a href="{% url 'inbox' %}" class="inbox-link"><i class="store-link-arrow fas fa-angle-left"></i>Inbox</a>
<div class="inbox-message-container">
    <div class="message-values">
        <p id="sender"><strong>{{ message.name }}</strong></p>
        <p id="date-sent">{{ message.date_sent.date }}</p>
        <hr class="inbox-hr">
        <p id="message-subject"><strong>{{ message.subject }}</strong></p>
        <hr class="inbox-hr">
        <p id="message-enquiry">{{ message.enquiry }}</p>
        <hr class="inbox-hr">
        <form action="{% url 'message' message.id %}" method="POST" id="" class="mar-form">
            {% csrf_token %}
            {{ mar_form.mark_as_read | as_crispy_field }}
        </form>
        <a class="btn checkoutBtn mar-link">Mark as read</a>
        <p id="sender-email">Reply to: <a href="mailto:{{inbox.email}}?subject=Reply%20to%20your%20email%20concerning:%20{{ message.subject }}">{{ message.email }}</a></p>
    </div>
</div>
{% endblock %}
{% block postloadjs %} 
{{ block.super }}
    <script>
        $(".mar-link").click(function (e) {
            var form = $(this).prev(".mar-form");
            if(form.valid()) {
                form.submit();
            }
        });
    </script>
{% endblock %}