{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block header %}
<div class="heading">
  <h1>Password Changed</h1>
  <hr class="heading-underline" />
</div>
{% endblock %}

{% block inner_content %}
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock %}
{% endblock %}