{% extends "base.html" %} {% load static %} {% load tools %} {% block content %}

<div class="heading">
  <h1>
    Contact
    <span class="logo-colour">.</span>
  </h1>
  <hr class="heading-underline" />
</div>
<form class="contact-form" method="POST">
    {% csrf_token %}
    <fieldset>
        <label for="name">Name</label>
        <input id="name" name="name" type="name" value="{{ profile.user.first_name }}" required />
        <label for="email">Email</label>
        <input id="email" name="email" type="email" value="{{ profile.user.email }}" required />
        <!-- <label for="enquiry">Enquiry</label>
        <input id="enquiry" type="text" required /> -->
        <label for="enquiry" class="textarea-label">Enquiry</label>
        <textarea id="enquiry" name="enquiry"></textarea>
        <input type="submit" value="Send Email"/>
    </fieldset>
</form>
{% endblock %}