.background-404 {
    background-image: url("/media/404.jpg");
    background-position: center;
    width: calc(100vw - 90px);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    filter: blur(8px);
}

.gif404 {
    background-image: url("/media/404-gif.gif");
    position: absolute;
    top: calc((100% - 213px)/2);
    left: calc(((100% - 90px)/2) - 60px);
    height: 213px;
    width: 220px;
}

.gif500 {
    background-image: url("/media/500-gif.gif");
    position: absolute;
    top: calc((100% - 213px)/2);
    left: calc(((100% - 90px)/2) - 60px);
    height: 250px;
    width: 250px;
    background-position: center;
}

.text404-container, .text500-container {
    display: grid;
}

.text404 {
    position: absolute;
    top: calc((100% / 2) + 110px);
    justify-self: center;
    text-align: center;
}

.text500 {
    position: absolute;
    top: calc((100% / 2) + 150px);
    justify-self: center;
    text-align: center;
    width: 85%;
}

.redirect404 {
    position: absolute;
    top: calc((100% / 2) + 145px);
    justify-self: center;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .background-404 {
       width: 100vw;
    }
}