.checkout-form {
    display: grid;
    grid-template-columns: 45% 10% 45%;
    /* grid-template-columns: 1fr 1fr; */
    grid-template-rows: 5% 95%;
    margin: 50px 10% 0 10%;
    grid-row-gap: 30px;
}

.payment-form {
    grid-column: 1;
}

.checkout-products-container {
    overflow-y: scroll;
    max-height: 794px;
    grid-column: 3;
}

.checkout-products {
    display: grid;
    /* grid-column: 3; */
    grid-row: 2;
    grid-template-columns: 1fr 2fr 1fr;
    /* grid-template-rows: 0.1fr auto; */
    height: max-content;
}

.divider {
    height: 100%;
    background-color: $secondary-color;
    width: 1px;
    grid-column: 2;
    justify-self: center;
}

.checkout-image {
    width: 150px;
    height: auto;
    grid-column: 1;
}

.item-details {
    grid-column: 2;
    justify-self: center;
}

.product-name {
    color: $secondary-color;
    font-weight: bold;
}

.item-price {
    justify-self: center;
}

.headings {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column: 3;
    grid-row: 1;
    justify-items: center;
}

.order-summary {
    width: 150px;
}

.order-details {
    margin-left: -70px;
}

.fill-form {
    grid-row: 1;
}

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}


.StripeElement--webkit-autofill {
  background-color: $background-color !important;
}

select,
select option {
    color: $font-color !important;
}

select:invalid,
select option:first-child {
    color: #6c757d !important;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($secondary-color, 0.4);
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

#id-save-info {
    margin-left: 2rem;
    max-width: 15px;
    height: 0px;
    margin-bottom: 15px;
}

.checkout-form-buttons{
    margin-top: 35px;
    margin-bottom: 20px;
}

.StripeElement {
    background-color: transparent;
    border: 1px solid $secondary-color;
    border-radius: 4px;
    box-shadow: none;
}

.checkout-hr {
    background-color: $secondary-color;
}


/***********  Checkout Success Page  ************/

.checkout-success-container {
    width: 85%;
    margin: 0 auto;
}

.success-order-details {
    display: grid;
    margin-top: 2rem;
}

.success-order-details h5 {
    color: $secondary-color;
    font-weight: bold;
}

/**********  ************/

@media only screen and (max-width: 1150px) {
    .checkout-form {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 0.1fr 1fr 1fr;
        margin: 50px 10% 0 10%;
        grid-row-gap: 0px;
    }

    .payment-form {
        grid-row: 2;
    }

    .checkout-products-container {
        overflow-y: scroll;
        max-height: 794px;
        grid-row: 3;
        grid-column: 1;
    }

    .checkout-products {
        display: grid;
        /* grid-column: 3; */
        grid-row: 2;
        grid-template-columns: 1fr 2fr 1fr;
        /* grid-template-rows: 0.1fr auto; */
        height: max-content;
    }

    .divider {
        display: none;
    }
}

@media only screen and (max-width: 460px) {
    .checkout-products {
        display: grid;
        grid-row: 2;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        height: max-content;
    }

    .checkout-image {
        width: 150px;
        height: auto;
        grid-row: 1;
    }

    .item-details {
        grid-column: 1;
        grid-row: 2;
        justify-self: start;
    }

    .order-details {
        display: none;
    }

    .keepShoppingBtn,
    .checkoutBtn {
        margin-bottom: 10px;
    }

    .headings {
        grid-template-columns: 1fr 1fr;
    }
}