.primary-navigation {
    position: fixed;
    display: grid;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 90px;
    background: $main-color;
    /* border-right: 1px solid $secondary-color; */
    box-shadow: 2px 0px 10px 0px $secondary-color;
    transition: transform 0.5s ease-in;
    z-index: 3;
}

.misc-links {
    grid-row: 3;
    list-style: none;
    /* color: $font-color; */
    font-size: 1.3rem;
    line-height: 50px;
    justify-self: center;
}

.misc-links a{
    color: $font-color;
}

.nav-links {
    position: absolute;
    height: 100%;
    width: 100%;
    background: $main-color;
    display: grid;
    justify-content: center;
    align-content: space-evenly;
    margin: 0;
    transform: translateX(-100%);
    /* transition: transform 2s ease-in; */
    /* display: none; */
}

.nav-links li.link a {
    color: $font-color !important;
    border: none;
}

.nav-links li {
    padding: 10px !important;
}

.nav-links li a:hover {
    color:  $secondary-color !important;
    transition: 0.3s ease-in-out;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);

    }
}

@keyframes cardOverlayFade {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} 

@keyframes cardTextFade {

    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.nav-link-active {
    transform: translateX(-100%);
}

.nav-active {
    transform: translateX(100%);
}

.link {
    align-self: center;
    list-style: none;
    opacity: 0;
}

.logo {
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $font-color;
    align-self: center;
    grid-row: 1;
}

.logo a {
    text-decoration: none;
}

.logo-colour {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: $secondary-color;
}

.logo:hover {
    color: $font-color !important;
}

.burger {
    /* width: 35px; */
    /* height: 25px; */
    grid-row: 2;
    justify-self: center;
    /* cursor: pointer; */
}

.burger div {
    transition: all 0.5s ease;
}

.line1 {
    width: 25.45px;
    height: 2px;
    background: $secondary-color;
    margin-top: 7px;
}

.line2 {
    width: 31.82px;
    height: 3px;
    background: $secondary-color;
    margin-top: 7px;
}

.line3 {
    width: 35px;
    height: 2px;
    background: $secondary-color;
    margin-top: 7px;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    width: 35px;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-7px, -8px);
}

a.user-link, a.bag-link {
    display: none;
    color: $font-color;
    font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {

    .primary-navigation{
        flex-direction: row;
        grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
        grid-template-rows: 100%;
        grid-gap: 0;
        height: 64px;
        width: 100vw;
        bottom: 0;
    }

    .nav-link-active {
        transform: translateX(0%) translateY(100%);
    }
    
    .nav-active {
        transform: translateX(0%) translateY(-100%);
    }

    .logo {
        grid-column: 1;
        grid-row: 1;
        align-self: center;
        line-height: 1.5;
    }

    .burger {
        grid-column: 4;
        grid-row: 1;
    }

    .toggle .line1 {
        width: 25px;
    }

    .toggle .line3 {
        width: 25px;
    }

    ul.misc-links {
        display: none;
    }

    a.user-link {
        grid-column: 2;
        justify-self: center;
        display: block;
    }

    a.bag-link {
        grid-column: 3;
        justify-self: center;
        display: block;
    }

    .nav-links {
       transform: translateX(0%) translateY(100%);
        grid-template-columns: repeat(6, 1fr);
        font-size: x-small;
        justify-items: center;
    }

}