.store-link {
    color: $font-color;
    margin-left: 6.7%
}

.store-link-arrow {
    margin-right: 0.5rem;
}

.productContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 85%;
    margin: 20px auto;
    grid-gap: 40px;
    height: 80vh;
    justify-content: center;
    align-content: center;
}

.productContent img {
    width: 90%;
    height: auto;
}

.product-info {
    grid-column: 1/3;
}

.quantityLabel {
    display: block;
}

.modal {
    background: rgba($main-color ,0.95)
}

#imageModal .modal-body {
    background-color: transparent !important;
    border: 1px solid $secondary-color;
    box-shadow: 0px 0px 10px 8px rgba($secondary-color ,0.55);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 1250px) {

    .productContent {
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr;
        width: 90%;
        margin: auto;
        grid-gap: 0px;
        grid-row-gap: 10px;
        height: 80%;
        padding-bottom: 20px;
        justify-content: center;
        align-content: center;
        margin-top: 15px;
    }

    .productContent img {
        width: 100%;
        height: auto;
        grid-row: 2;
    }

    .productSelects {
        grid-row: 3;
    }

    .product-info {
        grid-row: 1;
    }

    .quantityLabel {
        display: block;
    }

    #imageModal .modal-body {
        width: 85%;
        height: 70%;
    }

    .store-link {
    color: $font-color;
    margin-left: 3.8%;
}
}

@media only screen and (max-width: 600px) {
    #imageModal .modal-body {
        width: 90%;
        height: 50%;;
    }

    .store-link {
        margin-left: 2.5%;
    }
}