.productContent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 85%;
    margin: 20px auto;
    grid-gap: 40px;
    height: 80vh;
    justify-content: center;
    align-content: center;
}

.productContent img {
    width: 100%;
    height: auto;
}

.product-info {
    grid-column: 1/3;
}

.quantityLabel {
    display: block;
}

@media only screen and (max-width: 600px) {

    .productContent {
            display: grid;
            grid-template-columns: none;
            grid-template-rows: 1fr;
            width: 90%;
            margin: auto;
            grid-gap: 0px;
            grid-row-gap: 10px;
            height: 80%;
            padding-bottom: 20px;
            justify-content: center;
            align-content: center;
    }

    .productContent img {
        width: 100%;
        height: auto;
        grid-row: 2;
    }

    .productSelects {
        grid-row: 3;
    }

    .product-info {
        grid-row: 1;
    }

    .quantityLabel {
        display: block;
}
}