@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');

$main-font: Montserrat;
$secondary-font: Lato;
$main-color: #191716;
$font-color: #eaeaea;
$secondary-color: #6a7fdb;
$background-color: rgba($main-color, 0.9);
$heading-padding-desktop: 1.8rem;
$heading-padding-mobile: 1.2rem ;
$heading-size-mobile: 2rem;

%button-style {
    background: transparent;
    min-width: 120px;
    height: 40px;
    color: $font-color !important;
    border: 1px solid $secondary-color;
    border-radius: 0.25rem !important;
}

%button-hover {
    color: $secondary-color !important;
    background: rgba($font-color, 0.9);
    transition: ease-in-out 0.3s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    cursor: none !important;
}

body {
    overflow: overlay;
    overflow-x: hidden;
    color: $font-color;
    font-family: $secondary-font;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Montserrat;
}

h1 {
    font-weight: bold;
}

.btn:focus {
    box-shadow: 0 0 0 .2rem rgba($secondary-color , .25);
}

.profile-heading {
    text-align: center;
    padding-top: 1rem;
    display: grid;    
}

.profile-heading h1 {
    font-weight: bold;
    font-size: 1.75rem;
    width: calc(100vw - 90px);
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0.5rem auto;
}

.heading {
    text-align: center;
    padding-top: 1rem;
    display: grid;
}

.heading h1, .heading h4 {
    font-weight: bold;
    font-size: 1.75rem;
    margin: 0.5rem auto;
}

.heading-underline {
    width: 80vw;
    background-color: $secondary-color;
    justify-self: center;
}

.logo-style {
    font-family: $secondary-font;
    font-weight: normal;
}

.logo-colour {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: $secondary-color;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba($main-color, 0.8);
    border-radius: 50px;
}

a {
    color: $font-color;
}

a:hover {
    text-decoration: none;
    color: $secondary-color !important;
}

.hidden {
    display: none;
}

.cursor {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid $font-color;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform ;
    transform-origin: 100% 100%;
    overflow: hidden;
    z-index: 5000;
}

.link-grow {
    transform: scale(2);
}

.bg {
    position: relative;
    background-color: $background-color;
    left: 90px;
    width: calc(100% - 90px);
    min-height: 100vh;
}

.form-style {
    color: $font-color;
}

.form-control {
    background-color: transparent !important;
    border: 1px solid $secondary-color !important;
}

.form-control:focus {
    box-shadow: 0 0 0 0.1rem rgba($secondary-color,.25);
}

.form-control option {
    background-color: $background-color;
    font-family: $secondary-font;
}

input {
    background: rgba(49, 46, 45, 0.9);
    color: $font-color !important;
    border: 1px solid $secondary-color;
    border-radius: 4px;
    width: 100%;
    height: 38px;
    padding: 0 10px;
}

.pagination {
    margin: 0;
    justify-content: center;
    padding-bottom: 1.5rem;
}

.page-link {
    color: $font-color;
    background-color: $main-color;
    border: none;
}

.message-container {
    position: fixed;
    top: 10px;
    right: 15px;
    z-index: 9999999999999;
}

.toast {
    background-color: $secondary-color;
}

.modal-content{
    background-color: transparent;
    border: none;
}

.modal-header {
    background-color: $font-color;
    border: none;
}

.modal-body, .modal-footer {
    background-color: rgba($secondary-color, 0.8);
    border: none;
}

/*************** Custom checbox from csstricks ******************/

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2714\0020';
  position: absolute;
  top: .15em; left: .1em;
  font-size: 1.3em;
  line-height: 0.8;
  color: $secondary-color;
  transition: all .2s;
  font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

/* hover style just for information */
label:hover:before {
  border: 2px solid $secondary-color !important;
  transition: all .2s;
}

/* --------------------------------------------------------- */

.tooltip-inner {
    background-color: rgba($secondary-color , .85) !important;
    min-width: 100px;
    padding: .5rem .5rem 0.25rem .5rem;
}

.tooltip .arrow {
    display: none;
}

// Overriding default z-index on focus, causing issue with appearing over nav
.input-group-append .btn:focus, .input-group-prepend .btn:focus {
    z-index: 2;
}

@media only screen and (max-width: 600px) {
    .bg {
        left: 0;
        bottom: 64px;
        width: 100%;
        margin-top: 64px;
    }

    .heading h1 {
        font-size: 1.5rem;
        width: revert;
    }
}

@media only screen and (max-width: 1080px){
    .cursor {
        display: none;
    }

    * {
        cursor: auto !important;
    }
}

@import 'nav';

@import 'landing';

@import 'products';

@import 'product-detail';

@import 'bag';

@import 'checkout';

@import 'loader';

@import 'allauth';

@import 'profile';

@import 'login';

@import 'contact';

@import 'product-management';

@import '404';

@import 'order-admin';