{% extends "base.html" %} {% load static %} {% load tools %} {% block content %}
<div class="heading">
  <h1>Product Management
    <span class="logo-colour">.</span><br/>
    <small class="text-muted">Edit Product</small>
  </h1>
  <hr class="heading-underline" />
</div>


<div class="product-management-container">
    <form method="POST" action="{% url 'edit_product' product.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form | crispy }}

        <a  href="{% url 'edit_management' %}" class="btn checkoutBtn">Cancel <i class="far fa-window-close"></i></a>
        <button class="btn checkoutBtn" type="submit">Save <i class="far fa-save"></i></button>
    </form>
</div>
{% endblock %}

