{% extends "socialaccount/base.html" %}

{% load i18n %}
    
    {% block header %}
        <div class="heading">
            <h1>Social Network Login Failure
                <span class="logo-colour">.</span>
            </h1>
            <hr class="heading-underline" />
        </div>
    {% endblock %}

{% block inner_content %}
    <div class="auth-error-container">
        <p>{% trans "An error occurred while attempting to login via your social network account." %}<br />
            Please make sure you are accessing the site using a secure connection, to do so, follow this link <a href="https://www.pg-photography.herokuapp.com/accounts/login"><strong>Secure Site</strong></a>
        </p>
    </div>
{% endblock %}
